<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vgalloy.myapplication">

    <!-- Si on ne les met pas ? -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Android studio dis "app is not indexable by google search; consider adding at least one activity with an action-view intent-filter" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ReaderActivity"/>
        <activity android:name=".activity.ChooseActivity"/>
    </application>

</manifest>